body{
    background-color: darkslategray;
    padding: 0%;
}
.container_menu{
    background-color:darkgrey;
    margin-left: 20px;
    margin-right: 82%;
    padding: 15px;
}

.btn{
    width: 100px;
    height: 45px;
}

.find_bar{
    width: 30%;
    height: 40px;
    margin-left: 30%;
}

.finder{
    margin-top: 60px;
}
